@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto2:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background: #111;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}
section{
    font-family: 'Roboto bold900';
} 
.list{
    margin-top: -150px;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;
}